<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HCA DCP: DCP Status</title>
    <link rel="stylesheet" href="/stylesheet.css">

    <!-- Gobal site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116656225-2"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-116656225-2', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');

        var setDatetime = function() {
            var n = new Date().toISOString();
            document.getElementById("timestamp").innerText = n;
        };

        window.onload = setDatetime;

        setInterval(function() {
                window.location.reload();
            },
            2*60000
        );
    </script>
</head>
<body>
<h1>Data Coordination Platform: Status</h1>

<table>
    <thead>
        {% for h in headers %}
            <tr>
                {% for cell in h.cells %}
                    <th>{{ cell }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </thead>
    <tbody>
        {% for d in deployments %}
            <tr>
                <td><code>{{ d.name }}</code></td>
                <td><code>{{ d.env }}</code></td>
                <td><a href="{{ d.ci_cd_url }}"><img src="{{ d.build_status_image}}" /></a></td>
                <td><a href="{{ d.health_check_endpoint }}"><img src="{{ d.system_status_image }}" /></a></td>
                <td><a href="{{ d.health_check_endpoint }}"><img src="{{ d.availability_image }}" /></a></td>
                <td>
                    {% if d.metrics_url %}
                        <a href="{{ d.metrics_url }}">{{ d.metrics_emoji }}</a>
                    {% else %}
                        {{ d.metrics_emoji }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><em>Last updated at <span id="timestamp">_</span>. Refreshing in two minutes…</em></p>

</body>
</html>
